:root {
  --bg-primary: #151515;
  --bg-second: #343434;
  --bg-terciary: #FFFFFF;
  --primary: linear-gradient(#0D4C73, #176FA6);
  --second: #fff;
  --terciary: #0245fc;
  --html-color: #ff6d00;
  --css-color: #29C7D9;
  --js-color: #ffd600;
  --php-color: #176FA6;
  --bd-color: #accce3;
  --bootstrap-color: #8056d9;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
  background-color: var(--bg-primary);
  color: var(--second);
  overflow-x: hidden;
}